body{
    background-color: #010100 !important;
    text-align: center;
    header{
        background: url('../images/background.jpg') repeat center center fixed; 
        background-size: cover;
        padding-top: 28px;
    }
   .logo{
    width: 40%;
    }
    .main{
        width:100%;
    }
}

ul li{
    a{      
        text-decoration: none;
        color: black;        
    }
}

.lorem span{
    color: orange;
}
   
.overflow-hidden{
    background-color: #f2f3f2;
    padding-bottom: 15%;
    img{
    margin-top:20px;
    width: 100%;

   }
}

.article{
    background:white;
    margin-top:40px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;

}

button{
  border:none;
    color:white;
    padding-left:15px;
    padding-right:15px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(4,3,3,1) 20%, rgba(41,41,41,1) 65%, rgba(75,75,75,1) 99%);

}

.prix{
color: orange;
margin: 20px;
font-weight:bold;
font-size:20px;
}
.barer{
    text-decoration: line-through;
    margin: 30px;
    font-weight:bold;
    font-size:20px;
}
.reduc{
   justify-content:end;
   text-align: right;
   background-color: black;
   width:65px;
   margin-left:88%;
   color:orange;
   border-radius:5px;
    padding: 2px 65px 2px 13px;
  font-size: 22px;
   font-weight: bold;

}
.liste{
    text-align:end;
}
.lorem{
    text-align:left;

}
.user{
    text-align:end;
}

footer{
  color: white;
  background-color: #373737;
  width: 100%;

}

.menuContact{
  background-color: #373737;
  height:20px;
}

.listContact{
  background:white;
  width:50%;
  margin-left:25%;
  border-radius: 6px;
  padding-top:10px;
  padding-bottom: 10px;
  position: relative;
  bottom: 20px;
  list-style-type: disc !important;
}
.footerLi:after{
  content: url("../images/bullet.png");
  color: lightgrey;
  padding-left: 14px;
}

hr{
  height:4px !important;
  border-width:0;
  background-color:lightgrey;
}
@media screen and (max-width:767px){
    .user{
          text-align:start !important;

    }

    .divlogo{
        justify-content: center;
        align-items: center;
    }
    .lorem{
        text-align: center;
    }
    .liste{
        text-align: center;
     }
     ul{
        display:flex;
        justify-content:space-between;
     }

    .listContact {
      width: 80%;
      margin-left: 10%;
    }
}

@media screen and (min-width: 767px){
  .listContact {
    width: 60%;
    margin-left: 20%;
  }
}
